In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\U S E R\Desktop\Data Science\Data Analysis\food_coded.csv")

In [4]:
print(df.head())

     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    2.4       2          1               430           NaN           315.0
1  3.654       1          1               610           3.0           420.0
2    3.3       1          1               720           4.0           420.0
3    3.2       1          1               430           3.0           420.0
4    3.5       1          1               720           2.0           420.0

   coffee                      comfort_food        comfort_food_reasons  \
0       1                              none       we dont have comfort
1       2       chocolate, chips, ice cream        Stress, bored, anger
2       2   frozen yogurt, pizza, fast food             stress, sadness
3       2  Pizza, Mac and cheese, ice cream                     Boredom
4       2      Ice cream, chocolate, chips   Stress, boredom, cravings

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0

   turkey_calories  type_sports veggies_day  vitamins  waffle_calories  \
0              345   car racing           5         1             1315
1              690  Basketball            4         2              900
2              500         none           5         1              900
3              690          NaN           3         1             1315
4              500     Softball           4         2              760

                     weight
0                       187
1                       155
2  I'm not answering this.
3             Not sure, 240
4                       190

[5 rows x 61 columns]

In [5]:
print(df.head(10))  # First 10 rows

     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    2.4       2          1               430           NaN           315.0
1  3.654       1          1               610           3.0           420.0
2    3.3       1          1               720           4.0           420.0
3    3.2       1          1               430           3.0           420.0
4    3.5       1          1               720           2.0           420.0
5   2.25       1          1               610           3.0           980.0
6    3.8       2          1               610           3.0           420.0
7    3.3       1          1               720           3.0           420.0
8    3.3       1          1               430           NaN           420.0
9    3.3       1          1               430           3.0           315.0

   coffee                                  comfort_food  \
0       1                                          none
1       2                   chocolate, chips, ice cream
2       2               frozen yogurt, pizza, fast food
3       2              Pizza, Mac and cheese, ice cream
4       2                  Ice cream, chocolate, chips
5       2                     Candy, brownies and soda.
6       2  Chocolate, ice cream, french fries, pretzels
7       1              Ice cream, cheeseburgers, chips.
8       1                      Donuts, ice cream, chips
9       2         Mac and cheese, chocolate, and pasta

                                comfort_food_reasons  \
0                              we dont have comfort
1                               Stress, bored, anger
2                                    stress, sadness
3                                            Boredom
4                         Stress, boredom, cravings
5  None, i don't eat comfort food. I just eat whe...
6                                    stress, boredom
7  I eat comfort food when im stressed out from s...
8                                           Boredom
9                         Stress, anger and sadness

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0
5                         4.0  ...   1.0     2.0          4             940.0
6                         1.0  ...   1.0     1.0          5             940.0
7                         1.0  ...   1.0     2.0          1             725.0
8                         2.0  ...   2.0     2.0          5             725.0
9                         1.0  ...   1.0     1.0          4             580.0

   turkey_calories   type_sports veggies_day  vitamins  waffle_calories  \
0              345    car racing           5         1             1315
1              690   Basketball            4         2              900
2              500          none           5         1              900
3              690           NaN           3         1             1315
4              500      Softball           4         2              760
5              345         None.           1         2             1315
6              690        soccer           4         1             1315
7              500          none           4         2             1315
8              345          none           3         2              760
9              345  field hockey           5         1              900

                     weight
0                       187
1                       155
2  I'm not answering this.
3             Not sure, 240
4                       190
5                       190
6                       180
7                       137
8                       180
9                       125

[10 rows x 61 columns]

In [6]:
df = pd.read_csv(r"C:\Users\U S E R\Desktop\Data Science\Data Analysis\food_coded.csv")

In [7]:
print(df.shape)       # Rows and columns
print(df.columns)     # Column names
print(df.info())      # Data types and non-null counts

(125, 61)
Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None

In [8]:
print(df.isnull().sum().sort_values(ascending=False))

type_sports                     26
calories_day                    19
comfort_food_reasons_coded      19
cuisine                         17
exercise                        13
                                ..
comfort_food_reasons_coded.1     0
diet_current_coded               0
ethnic_food                      0
eating_out                       0
fruit_day                        0
Length: 61, dtype: int64

In [9]:
df['calories_day'].fillna(df['calories_day'].mean(), inplace=True)

C:\Users\U S E R\AppData\Local\Temp\ipykernel_11636\3118341869.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calories_day'].fillna(df['calories_day'].mean(), inplace=True)

In [10]:
df['calories_day'] = df['calories_day'].fillna(df['calories_day'].mean())

In [11]:
# Filling missing values with 'Unknown' for categorical columns
categorical_cols = ['type_sports', 'comfort_food_reasons_coded', 'cuisine', 'exercise']  # example list of categorical columns

for col in categorical_cols:
    df[col].fillna('Unknown', inplace=True)

C:\Users\U S E R\AppData\Local\Temp\ipykernel_11636\3458423526.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)
C:\Users\U S E R\AppData\Local\Temp\ipykernel_11636\3458423526.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[col].fillna('Unknown', inplace=True)

In [12]:
# Dropping rows that have any missing values
df.dropna(inplace=True)

In [13]:
# Check if there are still any missing values
df.isnull().sum()

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.to_excel("cleaned_food_data.xlsx", index=False)